.start__text {
    height: 25%;
    color: #fff;
    text-align: center;
}
.start__text .start__name {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 1px;
}
.start__text .start__info {
    font-size: 18px;
}
.start__envelope {
    margin: 10px 0;
    width: 100%;
    height: 25%;
}
.start__envelope .start__svg {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url("images/envelope.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: message 1.5s infinite ease;
}
@keyframes message {
    0% {
        transform: scale(1); }
    50% {
        transform: scale(1.2); }
    100% {
        transform: scale(1); }
}
.start__button {
    width: 100%;
    text-align: center;
}
.start__button .start__link {
    padding: 10px 40px;
    display: inline-block;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}
.service-bg{
    background: rgb(79, 130, 126);
    background: radial-gradient(ellipse at center, #13B974 25%, #26AE76 50%, #4F827E 100%);
}